.wrap{
	background: #09F;
	width: 730px;
	height:850px;
	margin: 10px auto;
}
 
/*bagian header*/
.wrap .header{
	background:url(bg.jpg);
	/*height: 50px;*/
	padding: 25px 40px;
	height:30%px;
	width:100%px;
	background-size:1000px 140px;
}

.wrap .header h1{
	color:#FCFCFC;
	line-height:0.1;
}

.wrap .header h4{
	color:#FCFCFC;
	line-height:1.5;
}
	
 
/*akhir header*/
.clear{
	clear: both;
}
 
.badan{
	height:78%;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: #09F;
	float: left;	
	width: 40%;
	height: 100%;
}

.wrap .badan .sidebar h3{
	color:#FCFCFC;
	line-height:0.025;
}

.wrap .badan .sidebar p{
	color:#FFFFFF;
	align:left;
	width:90%;
}

.wrap .badan .sidebar img{
	padding: 10px 70px;
	width:50%;
	border-radius: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: #0CF;
	float: left;
	height: 100%;
	width: 60%;	
	
}

.wrap .badan .content h3{
	color:#FFFFFF;
	padding: 5px 25px;
	line-height:0.1pt;}

 .wrap .badan .content table {
	 color:#FFFFFF;
	 padding:0px 7px;
	 line-height:1.2;
	 vertical-align:top;
 }
	
.wrap .badan .content td{
	
	padding:0px 17px;
}
.container {
	width:100%;
}
.circle {
	width:10px;
	height:10px;
	margin:10px 5px;
	background:white;
	border:solid thin transparent;
	border-radius:100%;
	float:left;
}
.circle p {
	margin-top:10px;
}
.circle:hover {
	background:#FFFFFF;
	color:#20B2AA;
	border: solid thin #20B2AA;
	cursor:pointer;
}

	 
.wrap .footer{
	background: #0CF;
	float: left;	
	width: 40%;
	height: 6.8%;
}